@import "tailwindcss";

body {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  background: #fff;
  line-height: 1.6;
}

a {
  color: #0000ee !important;
  text-decoration: underline !important;
}

a:visited {
  color: #551a8b !important;
}

ul {
  list-style-type: disc !important;
}

hr {
  border: none;
  border-top: 1px solid #000;
}
